# Unity .gitattributes Template
# Source: https://github.com/gitattributes/gitattributes/blob/master/Unity.gitattributes
# Last synced: 2026-02-04
# License: MIT
#
# This template is maintained from the gitattributes/gitattributes repository
# and distributed under MIT License.

# Define macros (only works in top-level gitattributes files)
[attr]unity-json        eol=lf linguist-language=json
[attr]unity-yaml        merge=unityyamlmerge eol=lf linguist-language=yaml
# Optionally collapse Unity YAML files on GitHub diffs
# [attr]unity-yaml        merge=unityyamlmerge text linguist-language=yaml linguist-generated
# Unity source files
*.cginc                 text
*.compute               text linguist-language=hlsl
*.cs                    text diff=csharp
*.hlsl                  text linguist-language=hlsl
*.raytrace              text linguist-language=hlsl
*.shader                text
# Unity JSON files
*.asmdef                unity-json
*.asmref                unity-json
*.index                 unity-json
*.inputactions          unity-json
*.shadergraph           unity-json
*.shadersubgraph        unity-json
# Unity UI Toolkit files
*.tss                   text diff=css linguist-language=css
*.uss                   text diff=css linguist-language=css
*.uxml                  text linguist-language=xml linguist-detectable
# Unity YAML files
*.anim                  unity-yaml
*.asset                 unity-yaml
*.brush                 unity-yaml
*.controller            unity-yaml
*.flare                 unity-yaml
*.fontsettings          unity-yaml
*.giparams              unity-yaml
*.guiskin               unity-yaml
*.lighting              unity-yaml
*.mask                  unity-yaml
*.mat                   unity-yaml
*.meta                  unity-yaml
*.mixer                 unity-yaml
*.overrideController    unity-yaml
*.playable              unity-yaml
*.prefab                unity-yaml
*.preset                unity-yaml
*.renderTexture         unity-yaml
*.scenetemplate         unity-yaml
*.shadervariants        unity-yaml
*.signal                unity-yaml
*.spriteatlas           unity-yaml
*.spriteatlasv2         unity-yaml
*.terrainlayer          unity-yaml
*.unity                 unity-yaml
# "physic" for 3D but "physics" for 2D
*.physicMaterial        unity-yaml
*.physicsMaterial2D     unity-yaml
# Exclude from GitHub stats and diffs: third-party plugins, packages lock file
Assets/Plugins/**           linguist-generated
Packages/packages-lock.json linguist-generated
# Unity LFS
# 3D models
# Audio
# Video
# Images
# Compressed Archive
# Compiled Dynamic Library
# Fonts
# Executable/Installer
# Documents
# ETC
# Spine export file for Unity
# Exceptions for .asset files such as lightning pre-baking
LightingData.asset     binary
*.cubemap !text !filter !merge !diff
*.unitypackage !text !filter !merge !diff
*.3dm !text !filter !merge !diff
*.3ds !text !filter !merge !diff
*.blend !text !filter !merge !diff
*.blend1 !text !filter !merge !diff
*.c4d !text !filter !merge !diff
*.collada !text !filter !merge !diff
*.dae !text !filter !merge !diff
*.dxf !text !filter !merge !diff
*.FBX !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.jas !text !filter !merge !diff
*.lws !text !filter !merge !diff
*.lxo !text !filter !merge !diff
*.ma !text !filter !merge !diff
*.max !text !filter !merge !diff
*.mb !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.ply !text !filter !merge !diff
*.skp !text !filter !merge !diff
*.stl !text !filter !merge !diff
*.ztl !text !filter !merge !diff
*.aif !text !filter !merge !diff
*.aiff !text !filter !merge !diff
*.it !text !filter !merge !diff
*.mod !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.s3m !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.xm !text !filter !merge !diff
*.asf !text !filter !merge !diff
*.avi !text !filter !merge !diff
*.flv !text !filter !merge !diff
*.mov !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.mpeg !text !filter !merge !diff
*.mpg !text !filter !merge !diff
*.ogv !text !filter !merge !diff
*.wmv !text !filter !merge !diff
*.bmp !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.iff !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.pict !text !filter !merge !diff
*.png !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.tiff !text !filter !merge !diff
*.webp !text !filter !merge !diff
*.7z !text !filter !merge !diff
*.bz2 !text !filter !merge !diff
*.gz !text !filter !merge !diff
*.rar !text !filter !merge !diff
*.tar !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.pdb !text !filter !merge !diff
*.so !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.apk !text !filter !merge !diff
*.exe !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.a !text !filter !merge !diff
*.reason !text !filter !merge !diff
*.rns !text !filter !merge !diff
*.skel.bytes !text !filter !merge !diff
